# PhpStorm Project sonarlint stuff
/.idea/sonarlint/

# Visual Studio Code project
/.vscode/

# Classic nodejs super deep vendor dir
/node_modules/

# Yarn stuff
/yarn-error.log

# Sergey compile out
/templates/out/

# MD5 files
/templates/imports/*.md5
