<!-- Footer -->
<footer id="footer">
  <!-- @see https://www.gesetze-im-internet.de/tmg/__5.html -->
  <!-- @see https://www.haid-architektur.com/profil/berufsrechtliche-angaben -->
  <section>
    <h2>Impressum</h2>
    <p>Verantwortlich im Sinne des TMG §5</p>
    <p>Stefan Link<br/>
      Architekt in der <a href="https://www.akbw.de/" target="_blank">Architektenkammer BW</a><br>
      USt-IdNr: <i>hier einsetzen!</i>
    </p>
  </section>
  <section>
    <div class="h2 hidden-small-down">&nbsp;</div>
    <dl class="alt">
      <dt>Anschrift</dt>
      <dd>Manosquer Straße 11/2<br>70771 Leinfelden-Echterdingen</dd>
      <dt>Telefon</dt>
      <dd><a href="tel:+497117541149">0711 / 7 54 11 49</a></dd>
      <dt>E-Mail</dt>
      <dd><a href="mailto:info@stefan-link.de">info@stefan-link.de</a></dd>
    </dl>
  </section>
  <div>
    <ul class="actions">
      <li><a href="rechtliche-hinweise.html" class="button">Rechtliche Hinweise</a></li>
    </ul>
  </div>
  <p class="copyright">&copy;Stefan Link 2021-heute. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>
