#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  $border-bottom-size: 1px;
  height: calc(100% + $nav-height - $border-bottom-size);
  min-height: 100vh;
  box-sizing: content-box;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: saturate(1);
  transition: filter 1.5s ease-out;
  //border-bottom: solid 1px _palette(invert, border);
  border-bottom: solid 1px _palette(invert, bg);

  // Scaling copied from _nav.scss
  @include breakpoint('<=large') {
    font-size: 1.15em;
  }
  @include breakpoint('<=xsmall') {
    font-size: 1em;
  }

  &.is-preload {
    filter: saturate(0);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include browser-hack(ie10-11 edge12-15) {
      height: auto;
      visibility: hidden;
    }
  }

  @supports (object-fit: cover) {
    background: none !important;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  }
}
